<div class="features-container animate-on-scroll" id="featureSection">
  <div class="feature-box">
    <div class="icon">
      <img src="home/Icone/lockIcon.png" alt="Sécurité" />
    </div>
    <h3>Sécurité garantie</h3>
    <p>Vos colis sont transportés avec soin et sous surveillance</p>
  </div>

  <div class="feature-box">
    <div class="icon">
      <img src="home/Icone/fastDeliveryIcon.png" alt="Rapide" />
    </div>
    <h3>Service rapide</h3>
    <p>Des trajets optimisés pour une livraison express</p>
  </div>

  <div class="feature-box">
    <div class="icon">
      <img src="home/Icone/supportAgentIcon.png" alt="Support" />
    </div>
    <h3>Support humain</h3>
    <p>Une équipe engagée, toujours à votre écoute</p>
  </div>
</div>
