<app-nav-barre></app-nav-barre>
<router-outlet></router-outlet>

<button class="scroll-top" *ngIf="showButton" (click)="scrollToTop()">
  <span class="arrow-up"></span>
</button>
<div class="fixed-contact-icons">
  
  <a href="tel:+21652246256" aria-label="Téléphone">
    <img src="\home\Icone\telIcone.png" alt="Téléphone" />
  </a>
  <a href="https://facebook.com" target="_blank" aria-label="Facebook">
    <img src="home\Icone\fbIcone.png" alt="Facebook" />
  </a>
  <a href="https://instagram.com" target="_blank" aria-label="Instagram">
    <img src="home\Icone\instagramIcone.png" alt="Instagram" />
  </a>
</div>
<br> <br>
<footer class="simple-footer" *ngIf="showFooter" style="margin-top: 200px;">
  <div class="footer-center">
    <a href="#">Législation & RGPD</a>
    <span>© 2025 TRANSPORT BILLAUD</span>
    <a href="#">Mettre à jour mon site internet</a>
  </div>
</footer>




